<div class="login-container">
  <div class="login-box">
    <div class="brand-logo">MIDNIGHT</div>

    <form [formGroup]="loginForm" (ngSubmit)="submitAction()">
      
      <div *ngIf="!showPasswordStep && !isRegistering" class="fade-in">
        <h1>Enter your email to join us<br>or sign in.</h1>
        <div class="input-wrapper">
          <input type="email" formControlName="email" id="email" placeholder=" " 
                 (keyup.enter)="handleEmailStep()" required autocomplete="off">
          <label for="email">Email*</label>
          
          <div class="error-msg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Please enter a valid email address.
          </div>
        </div>

        <p class="terms">By continuing, you agree to Midnight's Privacy Policy.</p>
        
        <div class="button-group">
          <button type="button" class="btn-black" (click)="handleEmailStep()">Continue</button>
          <button type="button" class="btn-outline" (click)="goToRegister()">Join Us / Create Account</button>
        </div>
      </div>

      <div *ngIf="showPasswordStep && !isRegistering" class="fade-in">
        <h1>Enter your password.</h1>
        <p class="user-display">
            {{ loginForm.get('email')?.value }} 
            <span class="edit-link" (click)="editEmail()">Edit</span>
        </p>
        
        <div class="input-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" 
                 formControlName="password" id="password" placeholder=" " 
                 (keyup.enter)="submitAction()" required autofocus>
          <label for="password">Password*</label>

          <button type="button" class="password-toggle" 
                  *ngIf="loginForm.get('password')?.value"
                  (click)="togglePasswordVisibility()">
            
            <svg *ngIf="passwordVisible" viewBox="0 0 24 24"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
            
            <svg *ngIf="!passwordVisible" viewBox="0 0 24 24"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.45-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/></svg>
          </button>
        </div>

        <button type="submit" class="btn-black" [disabled]="loginForm.get('password')?.invalid">Sign In</button>
      </div>

      <div *ngIf="isRegistering" class="fade-in register-form">
        <h1>Now let's make you a<br>Midnight Member.</h1>
        <p class="user-display">
            {{ loginForm.get('email')?.value }} 
            <span class="edit-link" (click)="editEmail()">Edit</span>
        </p>

        <div class="row">
          <div class="input-wrapper"><input formControlName="firstName" placeholder=" "><label>First Name*</label></div>
          <div class="input-wrapper"><input formControlName="lastName" placeholder=" "><label>Last Name*</label></div>
        </div>

        <div class="input-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder=" " required>
          <label>Password*</label>
           <button type="button" class="password-toggle" 
                  *ngIf="loginForm.get('password')?.value"
                  (click)="togglePasswordVisibility()">
             <svg *ngIf="passwordVisible" viewBox="0 0 24 24"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
             <svg *ngIf="!passwordVisible" viewBox="0 0 24 24"><path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.45-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/></svg>
           </button>
          <span class="hint">8+ Characters, mixed case and numbers</span>
        </div>

        <p class="label-small">Date of Birth</p>
        <div class="row date-row">
          <div class="input-wrapper"><input formControlName="day" placeholder="DD"></div>
          <div class="input-wrapper"><input formControlName="month" placeholder="MM"></div>
          <div class="input-wrapper"><input formControlName="year" placeholder="YYYY"></div>
        </div>

        <button type="submit" class="btn-black" style="margin-top: 25px;">Create Account</button>
      </div>

    </form>
  </div>
</div>