

@import url("tailwindcss");


:root {
    --header-bg-color: #f7f1e3; 
}



body {
    margin: 0;
    padding: 0;
    background-color: #fff; 
    color: #1a1a1a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}